#testimonial-section {
    background-color: $bg-color-L100;
    padding-top: 10rem;
    padding-bottom: 10rem;


    .grid-x--header {
        margin-bottom: 2rem;
        .cell {
            margin: 0 auto;
            text-align: center;
        }
    }

}