.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: $nav-height;

    display: flex;
    align-items: center;
    justify-content: center;

    // .header__logo
    &__logo {
        width: 250px;
        height: $nav-height;
        flex-shrink: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }


    // .header__left-side
    &__left-side {
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;

        .header__menu {
            margin-left: 2rem;
        }
    }

    // .header__right-side
    &__right-side {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: nowrap;
    }

    // .header__menu
    &__menu {
        @extend %normalizeList;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        // .header__menu__item
        &__item {
            padding: 0 1rem;
        }

        a {
            color: $text-color;
            white-space: nowrap;
            &:hover {
                color: $primary-color;
            }
        }
    }

    // .header__cart
    &__cart {
        position: relative;
        // .header__cart__number
        &__number {
            @extend %absoluteFill;

            text-align: center;
            line-height: 1;

            display: flex;
            align-items: center;
            justify-content: center;

            color: $header-color;
            font-size: 1rem;
        }
        // .header__cart__icon
        &__icon {
            position: relative;
            z-index: 1;
            width: 40px;
            height: 40px;
            object-fit: contain;
            object-position: center;
        }
    }
}

.header {
    .grid-container {
        width: 100%;
    }
}