$border-color: #443636;

.plate-anim {
    position: relative;
    width: 100%;
    padding-top: 100%;

    // .plate-anim__border
    &__border {
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 20;
        width: 5px;
        height: 100%;
        background-color: $border-color;
    }

    // .plate-anim__hemp
    // .plate-anim__gummies
    &__hemp ,
    &__gummies {
        position: absolute;
        top: 0;
        z-index: 10;
        height: 100%;
        overflow: hidden;

        img {
            max-width: unset;
            position: absolute;
            top: 0;
        }
    }


    // .plate-anim__hemp
    &__hemp {
        left: 0;
        img {
            left: 0;
        }
    }

    // .plate-anim__gummies
    &__gummies {
        right: 0;
        img {
            right: 0;
            transform: scale(0.8);
            object-position: right;
        }
    }

    // .plate-anim__plate
    &__plate {
        @extend %absoluteFill;
        z-index: 1;
        img {
            transform: scale(0.8);
        }
    }
}