// ========================
// BASIC COLORS
// ========================
$white: #FFFFFF;

// ========================
// THEME COLORS
// ========================
$primary-color: #F5914E;
$primary-color-100: #F6914E;
$secondary-color: #3C562C;

// ========================
// COMMON COLORS
// ========================
$bg-color: #EDD3C1;
$bg-color-L100: #FEFAF8;
$bg-color-L200: #FBF4EE;
$bg-color-L300: #F9EBD8;
$bg-color-L400: #FCF4EF;



// ========================
// BUTTON COLORS
// ========================
$btn-colors: (
	primary: $primary-color,
);

// ========================
// WAVE CONFIG
// ========================
$wave-offset: 20px;

// ========================
// TYPOGRAPHYCONFIG
// ========================
$text-color-white: $white;
$text-color: #998C7A;
$text-color-dark: #4B3D3E;
$text-color-dark-100: #A7836D;
$text-color-dark-200: #7B5F4E;

$header-color: #443636;

$font-family: 'TisaSansPro', sans-serif;

$nav-height: 50px;

// ========================
// WAVE CONFIG
// ========================
$wave-height: 500px;

// ========================
// THUMBNAIL SLIDER CONFIG
// ========================
$thumb-slider-border: #B9A58F;


// ========================
// TESTIMONIAL CONFIG
// ========================
$testimonial-bg: #F6F0EF;
